@font-face {
  font-family: "AkkuratMono";
  src: url(./assets/AkkuratMonoTrial-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  color: rgb(195, 195, 195);
  width: 96vw;
  margin-left: 4vw;
  position: fixed;
  font-size: 40px;
  height: 7vh;
  background-color: #535353;
  mix-blend-mode: difference;
  z-index: 999;
  /* overflow: hidden; */
  display: flex;
  /* display: grid;
  grid-template-columns: 4fr 0.5fr 1.5fr; */
  align-items: center;
  overflow: hidden;
}

.chatTopBox {
  position: absolute;
  height: 7vh;
  width: 96vw;
  background-color: white;
  border: 22px solid blue;
}

.title > div {
  padding: 1vh;
}

.titleTop {
  color: #ededed;
  padding-left: 1vw;
}

/* .marquee {
  width: 98vw;
  height: 2vh;
  font-size: 13px;
  background-color: #c8ff00;
  z-index: 9;
  position: absolute;
  top: 7vh;
  margin-left: 4vw;
  overflow: hidden;
  white-space: nowrap;
} */

/* .marquee span:nth-child(2) {
  animation-delay: 2s; 
} */

@keyframes marquee {
  0% {
    transform: translateX(100%); /* 오른쪽에서 시작 */
  }
  100% {
    transform: translateX(-100%); /* 왼쪽으로 이동 */
  }
}

.desktop {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.translate {
  /* margin-left: 2px; */
}

#face-emoji {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: relative;
}

#face {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  /* background-color: #fda38a; */
  background-size: contain;
  background-image: url("./assets/images/face.png");
  z-index: 1;
}

#left-eye {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  background-size: contain;
  background-image: url("./assets/images/left-eyeball.png");
  z-index: 2;
}

#right-eye {
  content: "";
  width: 10rem;
  height: 10rem;
  margin-top: 0.2rem;

  /* background-color: #f2e1e177; */

  position: absolute;
  background-size: contain;
  background-image: url("./assets/images/right-eyeball.png");
  z-index: 2;
}

/*  */

/* .box1 {
  display: flex;
  flex-direction: row;
} */

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  width: 14vw;
  min-width: 170px;
  height: 15vh;
  font-size: 15px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #eee;
}

.textInModal {
  margin-top: 10px;
}

.colorPicker {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 5px;
}

.colorPicker input[type="color"] {
  width: 50px;
  height: 25px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  border: none;
  background: transparent;
  box-shadow: none;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.modalBottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.modal input {
  border-style: none;
  height: 1.3rem;
  width: 100%;
  font-size: 13px;
  background-color: #d3d3d3;
}

.modalBtn {
  height: 21px;
  width: 28px;
  font-size: 9px;
  border: none;
  background-color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatRoom {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.chatTop {
  width: 4vw;
  height: 100%;
  top: 0;
  color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: black;
  z-index: 9;
  flex-direction: row;
  transition: 0.9s all ease;
  overflow-y: scroll;
}

.infoText {
  font-family: monospace;
  box-sizing: border-box;
  margin-top: 4rem;
  margin-left: 4vw !important;
  left: 8vw;
  margin-right: 1vw;
  font-size: 20px !important;
}

.wide {
  width: 35vw;
}
/* 
.chatTop div {
  height: 2.8vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
  font-size: 13px;
} */

/* .infoText {
  padding: 0;
  height: auto;
  display: block;
  margin: 0.7rem;
  margin-left: 100rem;
  font-size: 100px;
} */

.textArrow {
  position: absolute;
  /* background-color: antiquewhite; */
  height: 1rem;
  width: 1rem;
  top: 0;
  bottom: 0;
  padding: auto;
  margin: auto;
  z-index: 99;
  color: white;
  pointer-events: none;
}

.leftArrow {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: auto;
  margin: auto;
  z-index: 99;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  width: 0; /* 너비를 0으로 설정 */
  height: 0; /* 높이를 0으로 설정 */
  border-top: 2vh solid transparent; /* 상단 투명 삼각형 */
  border-bottom: 2vh solid transparent; /* 하단 투명 삼각형 */
  border-left: 2vh solid rgb(255, 255, 255); /* 좌측을 가리키는 삼각형 */
}

.chatBottom {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  width: 96vw;
  margin-left: 4vw;
  bottom: 0;
  position: absolute;
}

/* .date {
  background-color: #eee;
  width: 40%;
  text-align: center;
  border-radius: 14px;
  padding: 3px;
} */

.chatBottom input {
  width: 100%;
  border: none;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.sendBtn {
  background-color: rgb(200, 200, 200);
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 0;
  border: none;
}

.userCount {
  display: flex;
  align-items: center;
  background-color: #232323;
  position: absolute;
  right: 0;

  width: 43%;
  height: 7vh;
}

.onlineNumber {
  width: 100%;
  height: 7vh;
  color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  width: 13vw;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  /* font-size: 20px; */
}

.onlineIcon {
  background-color: rgb(98, 0, 255);
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.onlineBox {
  /* background-color: #171717; */
  padding: 2px;
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.hide {
  opacity: 0;
}

.prompt {
  color: #737373;
}

.loading-container {
  width: 20vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: absolute;
  top: 1.4rem;
  margin-left: 1rem;
}

.horizontal-box {
  width: 100vw;
  height: 10vh;
  background-color: #eee;
}

.tail {
  height: 25px;
  width: 25px;
  background: #f2e1e1;
  border-radius: 50%;
  position: relative;
  z-index: 999;

  &:before {
    height: 12px;
    width: 12px;
    background: #eee;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    bottom: -8px;
  }
}

.chat-bubble {
  bottom: 7vh;
  /* height: 72px; */
  height: 7vh;
  min-width: 100px; /* 최소 너비 */
  max-width: 300px; /* 최대 너비 */
  width: 10vw; /* 너비가 화면 너비의 30%로 설정됨 */
  left: 5vh;
  background: #eee;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    /* position: absolute; */
    z-index: 10;
    width: 67px;
    /* left: -11px; */
    top: 27px;
    background: #eee;
    .dot {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      display: block;
      float: left;
      margin: 0 0 0 8px;
      &:first-child {
        margin: 0;
      }
      &.one {
        -webkit-animation: cycleOne 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
      &.two {
        -webkit-animation: cycleTwo 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
      &.three {
        -webkit-animation: cycleThree 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
    }
  }
}

@-webkit-keyframes cycleOne {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 1);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes cycleTwo {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 1);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes cycleThree {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 1);
  }
}

.info-chat {
  display: flex;
  width: 100%;
  /* background-color: #eee; */
  flex-direction: column;
  font-family: helvetica;
  /* overflow: scroll; */
}

.filter-orange {
  /* filter: sepia(1) hue-rotate(-30deg) saturate(2) brightness(1.1); */
  /* filter: sepia(1) hue-rotate(-15deg) saturate(3) brightness(1.2);
  fi */

  /* filter: grayscale(); */
}

.messageContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  background-color: #f1f1f1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messageContainerInside {
  width: 96vw;
  height: 89vh;
  margin-left: 4vw;
  bottom: 4vh;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
}

.userName {
  text-wrap: nowrap;
  display: inline-block;
  font-size: 15px !important;
  padding: 2px 4px;
}

.message {
  font-size: 30px;
  display: inline-block;
  max-width: 90vw;
  padding: 0;
  margin: 0;
  line-height: 1.45;
  text-wrap: balance;
  margin-top: 1.5vh;
}

.message > div p:nth-child(2) span:nth-child(1) {
  padding: 0.7dvh;
  box-decoration-break: clone;
}

.message > div {
  /* border: 1px solid rgb(154, 154, 209); */
  /* display: flex; */
  display: inline;
}

.first {
  position: relative;
  width: max-content;
  height: auto;
  right: 0;
  /* text-wrap: balance; */
  overflow-wrap: break-word;
  word-break: normal;

  max-width: 90vw;
}

.second {
  position: relative;
  width: max-content;
  top: 0;
  text-wrap: balance;
  max-width: 90vw;
}

.mine .message > div {
  align-self: flex-start;
  position: relative;
  display: flex;
}

.yours .message > div {
  align-self: flex-start;
  position: relative;
  display: flex;
}

/* .mine .message div p:nth-child(1) {
  padding-right: 2vw;
}

.mine .message div p:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.mine .message div p:nth-child(2) span:nth-child(1) {
  display: inline;
  order: 2;
}

.mine .message div p:nth-child(2) span:nth-child(1) span {
  display: inline;
}

.mine .message {
  position: relative;
  align-self: flex-end;
  text-align: right;
}

.mine .message .reverse {
  display: flex;
  flex-direction: row-reverse;
}

.mine .message .reverse p {
  display: inline-block;
} */

/* .mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 26px;
  width: 20px;
  background-color: #fda38a;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
} */

/* .mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;

  height: 26px;
  background: #fe4814;
  border-bottom-left-radius: 10px;
} */

/* .draggable-modal {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 99;
} */

/* .modal-header {
  background-color: #852e2e;
  color: white;
  padding: 10px;
  cursor: grab; 
  user-select: none; 
} */

/* .modal-body {
  padding: 10px;
} */

@media (max-width: 1024px) {
}

@media (min-width: 908px) {
  .chatRoom {
    display: none;
  }
}

@media (min-width: 768px) {
  .chatRoom {
    display: none;
  }
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }

  .title {
    font-size: 32px;
  }

  .chatTop .infoText {
    font-size: 15px !important;
  }
  .chatTop {
    width: 4vw;
  }
  .wide {
    width: 96vw;
  }
}
